@model Mi9Pay.ViewModel.OrderRequestViewModel

@{
    ViewBag.Title = "GateWay";
}

<div id="payOrderContainer" style="padding: 8px; width: 720px; height: 280px;">
    <div id="payOrder" style="padding: 12px; float: left; width: 400px; height: 260px;">
        <div style="padding: 8px; font-size: 12pt;">订单编号: <span id="invoice" style="margin-left: 12px;">@Model.InvoiceNumber</span></div>
        <div style="padding: 8px; font-size: 12pt;">订单金额: <span id="amount" style="margin-left: 12px; font-size: 18pt; font-weight: bold">@Model.TotalAmount.ToString("c")</span></div>
        <div style="padding: 8px; font-size: 12pt;">
            请选择支付方式：<br />
            @foreach (var item in Model.PaymentMethodList)
            {
                <div style="padding: 4px;">
                    @Html.RadioButtonFor(m => m.PaymentMethod, @item.Code.ToLower()) @item.Name
                </div>
            }
        </div>
        <div style="padding: 8px;"><a class="btn btn-primary btn-lg" id="confirm">生成支付二维码</a></div>
    </div>
    <div id="qrCodeImg" style="padding-top: 30px; float: right; width: 260px; height: 260px; text-align:center;"></div>
    <div style="clear:both;"></div>
</div>