@model Mi9Pay.ViewModel.OrderRequestViewModel

@{
    ViewBag.Title = "GateWay";
}


<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <div role="form" class="padding-8">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3"><label for="invoice">订单编号</label></div>
                        <div class="col-sm-7"><span id="invoice">@Model.InvoiceNumber</span></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3"><label for="amount" class="padding-top-7">订单金额</label></div>
                        <div class="col-sm-7"><span id="amount" class="lead">@Model.TotalAmount.ToString("c")</span></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="PaymentMethod">请选择支付方式</label>
                    @foreach (var item in Model.PaymentMethodList)
                    {
                        <div class="radio">
                            <label>
                                @if (item.IsDefault)
                                {
                                    @Html.RadioButtonFor(m => m.PaymentMethod, @item.Code.ToLower(), new { @checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.PaymentMethod, @item.Code.ToLower())
                                }
                                @item.Name
                            </label>
                        </div>
                    }
                </div>
                <div class="form-group">
                    <label for="ScanMode">请选择扫码方式</label>
                    @foreach (var item in Model.ScanModeList)
                    {
                        <div class="radio">
                            <label>
                                @if (item.IsDefault)
                                {
                                    @Html.RadioButtonFor(m => m.ScanMode, @item.Code.ToLower(), new { @checked = "checked" })
                                }
                                else
                                {
                                    @Html.RadioButtonFor(m => m.ScanMode, @item.Code.ToLower())
                                }
                                @item.Name
                            </label>
                        </div>
                    }
                </div>
                <a class="btn btn-primary" id="confirm">生成支付二维码</a>
                @Html.TextBoxFor(m => m.Barcode, new { @class = "form-control", id = "barcode", placeholder = "支付条码" })
            </div>
        </div>
        <div id="displayArea" class="col-sm-4">
        </div>
    </div>
</div>